.site-title {
  text-align: center;
}

.merchants {
  display: flex;
}

.merchants>* {
  border: solid 2px black;
  width: 100%;
}

.merchants a {
  float: left;
}

.items {
  display: flex;
}

button {
  float: right;
}
