* {
  padding: 0;
  margin: 0;
}

body >* {
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navigation {
  display: flex;
  align-content: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 8px 4px;
}
