<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheets' href='./public/main.css'
    <meta charset='utf-8'>
    <title>Merchants</title>
  </head>
   <% @merchants.each do |merchant| %>
    <ul>
      <p><a href='https://www.localhost:9393/merchants/single_merchant'><%=merchant.name%></a></p>
      <!-- <a href='https://www.localhost:9393/merchants/single_merchant'><%=merchant.name%></a> -->
    </ul>
   <% end %>
</html>
