<!DOCTYPE html>
<html>
  <head>
    <title>Items</title>
    <link rel='stylesheet' href='main.css' title='text/css'>
  </head>
  <body>
    <header>
      <h3 class='logo'>LittleShop</h3>
      <nav class='navigation'>
        <ul class='nav-links'>
          <li class='nav-link'><a href='/merchants'>Merchants</a></li>
          <li class='nav-link'><a href='/items'>Items</a></li>
          <li class='nav-link'><a href='/invoices'>Invoices</a></li>
        </ul>
      </nav>
    </header>
    <div class='sub-header'>
      <a class='dashboard-link'>Dashboard</a>
      <h3>Items</h3>
      <a href='/items/new' class='create-button'>Create A New Item</a>
    </div>
    <section>
      <tr>
        <ul class='items-list'>
         <% @items.each do |item| %>
            <a href="/items/<%= item.id %>"><%= item.title %></a>
            <li><%= item.price %></li>
        </ul>
       <% end %>
</html>
