<!DOCTYPE html>
<html>
  <head>
    <title>Item New</title>
    <link rel='stylesheet' href='main.css' title='text/css'>
  </head>
  <body>
    <header>
      <h1 class='logo'>LittleShop</h1>
      <nav class='navigation'>
        <ul class='nav-links'>
          <li class='nav-link'><a href='/merchants'>Merchants</a></li>
          <li class='nav-link'><a href='/items'>Items</a></li>
          <li class='nav-link'><a href='/invoices'>Invoices</a></li>
        </ul>
      </nav>
    </header>
    <div class='sub-header'>
      <h3>Create New Item</h3>
    </div>
    <section>
      <form action='/items' method='POST'>
        Merchant<br><select name='item[merchant_id]' id='merchant-dropdown'>
          <% @merchants.each do |merchant| %>
            <option value='<%= merchant.id %>'>
              <%= merchant.name %>
            </option>
          <% end %>
        </select><br>
        Title<br><input type='text' name='title'><br>
        Description<br><input type='text' name='description'><br>
        Price<br><input type='text' name='price'><br>
        Image<br><input type='text' name='image'><br>
        <a class='cancel' href='/items'><button>Cancel</button></a>
        <button type='submit'>Create Item</button>
      </form>
    </section>
    <footer><p>Footer Place Holder</p></footer>
  </body>
</html>
